<html>
    <head>
        <title>color game</title>
		       
        <link href="styles/colorgame.css" rel="stylesheet">
        
    </head>


    <body>

		<h4 class="goBack"><a href="/"><i class="angle left icon"></i> Go Back</a></h4>
        <h1><span id="colorgame">color game</span><br><span id="headcolor">rgb</span></h1>
        <div id = "stripe">
        <button id="reset">New colors</button>
        <span id = "colormessage"></span>
        <button class="buttons" id = "easybutton">easy</button>
        <button  class="selected buttons" id = "hardbutton">hard</button>
        </div>
        <div id="container">
           <div class="square"></div>
           <div class="square"></div>
           <div class="square"></div>
           <div class="square"></div>
           <div class="square"></div>
           <div class="square"></div>
        </div>
        <div><h1 id="downh">develop your rgb skills</h1></div>
      <script src="scripts/colorgame.js"></script>
    </body>
</html>