<!DOCTYPE html>
<html>
    <head>
        <title>corona</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@500&display=swap" rel="stylesheet"> 
        <link href="styles/covidstate.css"  rel="stylesheet">
        
        <script src = scripts/covidstate.js></script>
    </head>

<body>
<div class="full">
<h4 class="goBack"><a href="/">Go Back</a></h4>	
<h3 id="main_head">CORONA STATS IN INDIA</h3>
<div id="total">
     <h4>Total</h4>
     <div id="total_value"><h5>Loading...</h5></div>
</div>
<div class="container-fluid">
    <div class="row typing">
        <div class="col">
        <input type="text" placeholder="Enter State Name" id="input1">
    </div>
    </div>
    <div class="row">
       <div class="col-4 state_list">
            <h4>Effected States</h4>
            <div id = "li"><h5>Loading...</h5></div>
       </div>
       <div class="col-4">
           <div class="details"></div>
           <div id="input2"> 
     
           </div> 
           <div class="details2"></div>
       </div>
       <div class="col-4 district_list">
            <h4>Districts</h4>
            <div id="li2"></div>
       </div>
    </div>
</div>
</div>
<div class="slideshow">
  
</div>
</body>
</html>

