<!DOCTYPE html>
<html>
    <head>
        <title>HOME</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="styles/home.css" rel="stylesheet">
		
		 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body>

    <div class="container-fluid my-navbar">


        <div class="links float-right">
            <a href="http://sudharshan.herokuapp.com/" target="_blank">Portfolio</a>
            <a href="https://www.linkedin.com/in/sudharshan-bhimisetty-19a8241aa/"  target="_blank">LinkedIn</a>
            <a href="https://github.com/SudharshanBhimisetty?tab=repositories"  target="_blank">Github</a>
        </div>

            <div class="header">
               <h1 class="heading">My Simple Projects</h1>
               <span class="tag">By Sudharshan Bhimisetty</span>
           </div>
        
    </div>       


<div class="container">

    <div class="ui link cards" id="my-cards">
        
        <div class="card"   id="my-card">
           <div class="image">
               <img  id="my-image" src="/images/colorGame.png">
           </div>
           <div class="content">
                <div class="header">ColorGame</div>

                <div class="description">
                    Play the game and improve your RGB skills
                </div>

           </div>

          <div class="extra content">
            <a href="/colorgame" class="ui button"  id="my-button">Preview</a>
          </div>
        </div>
    


        <div class="card"  id="my-card">
            <div class="image">
              <img id="my-image" src="/images/coronaWorld.png">
            </div>
            <div class="content">
              <div class="header">CoronaStats - World</div>

              <div class="description">
                Enter the country name and get the details of the COVID19 of that country
              </div>
            </div>
  
            <div class="extra content">
                <a href="/covidworld" class="ui button"  id="my-button">Preview</a>
              </div>
          </div>  
          
          
          <div class="card"  id="my-card">
            <div class="image">
              <img  id="my-image" src="/images/coronaState.png">
            </div>
            <div class="content">
              <div class="header">CoronaStats - India</div>

              <div class="description">
                 Get the details of the COVID19 of every state and region in India
              </div>
            </div>
  
            <div class="extra content">
                <a href="/covidstate" class="ui button"  id="my-button">Preview</a>
              </div>
          </div>   


        <div class="card"  id="my-card">
          <div class="image">
            <img  id="my-image" src="/images/digitalClock.png">
          </div>
          <div class="content">
            <div class="header">Digital Clock</div>

            <div class="description">
               Just a simple Digital Clock with date and day.
            </div>
          </div>

          <div class="extra content">
            <a href="/digitalclock" class="ui button"  id="my-button">Preview</a>
          </div>
        </div>

		
        <div class="card"  id="my-card">
          <div class="image">
            <img  id="my-image" src="/images/analogClock.png">
          </div>
          <div class="content">
            <div class="header">Analog Clock</div>

            <div class="description">
              This is a simple Analog Clock
            </div>
          </div>

          <div class="extra content">
            <a href="/analogclock" class="ui button"  id="my-button">Preview</a>
          </div>
        </div>

		
        <div class="card" id="my-card">
          <div class="image">
            <img  id="my-image" src="/images/weather.png">
          </div>
          <div class="content">
            <div class="header">Weather</div>
 
            <div class="description">
               Enter the city name and the weather conditions of the city
            </div>
          </div>

          <div class="extra content">
            <a href="/weather" class="ui button" id="my-button">Preview</a>
          </div>
			
        </div>
		
        <div class="card" id="my-card">
          <div class="image">
            <img  id="my-image" src="/images/sparks.png">
          </div>
          <div class="content">
            <div class="header">Sparks</div>
 
            <div class="description">
               Simple money transactions between customers built using php and sql
            </div>
          </div>

          <div class="extra content">
            <a href="https://sparks24.000webhostapp.com/index.php" target="_blank" class="ui button" id="my-button">Preview</a>
          </div>
			
        </div>
		
		
		
		<div class="card"  id="my-card">
          <div class="image">
            <img id="my-image" src="/images/employee.png">
          </div>
          <div class="content">
            <div class="header">Employee Registration</div>

            <div class="description">
              Deployed on Amazon Web Services on EC2 instance with RDS and cloud bucket to store the data
            </div>
          </div>

          <div class="extra content">
			  <a href="https://github.com/SudharshanBhimisetty/aws-pythondeploy" target="_blank" class="ui button" id="my-button">Source Code</a>			    
          </div>
        </div>

		
		
		
      </div> 
    </div>


<div class="footer">Thank <span><i class="heart icon"></i></span>You</div>	
		

		
		
		
		</body>
	
</html>