body{
    background-color: #232323 ;
    margin:0;
    text-transform: uppercase;
}



.goBack{
	position:fixed;
	top:30px;
	left:30px;
	z-index:100;
}

.goBack a{
	color:white;
	text-decoration:none;
	font-size:1.4rem;
	  font-family: monospace;
	word-spacing:-0.3rem;
}

.goBack a:hover{
	text-decoration:underline;
}

.square{
    width:30%;
    background-color: purple;
    
    padding-bottom: 27%;
    margin:1.66%;
    border-radius: 50%;
     float:left;
    transition: all 0.3s;
    
    }


 #colorgame{
    font-size: 3rem;
    letter-spacing: 5px;
 }
 
 
#container{
    margin:20px auto;
    width: 500px;
    height: 350px;
}    



h1{
    color:white;
    text-align: center;
    background-color: steelblue;
    margin:0;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: cursive;
    font-style: italic;
}


#headcolor{
    font-size: 2rem;
}

#stripe{
    background-color: white;
    text-align: center;
    height:40px;
}



.selected{
    background-color: steelblue;
    color:white;
}

#colormessage{
    width:20%;
    display:inline-block;
    color:steelblue;
    font-family: cursive;
}

button{
    background: none;
    border:none;
    text-transform: uppercase;
    height:40px;
    color:steelblue;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 700px;
    font-family: cursive;
    transition: background 0.3s;
    
}



button:hover{
    background-color: steelblue;
    color: white;
}


#downh{
    color:white;
    text-align: center;
    background-color:#232323;
    margin:0;
    padding-top: 20px;
    padding-bottom: 30px;
    font-family: cursive;
    font-style: italic;
    font-size: 2.5rem;
    letter-spacing: 3px;
}



